
$white-color: white;
$havan-color: rgb(223, 139, 79);
$havan-color-darker: rgb(209, 130, 73);

//gray colors
$dark-gray:#252525;
$primary-gray:rgb(83, 75, 75);
$dark-gray:rgb(59, 59, 59);
$light-gray: rgb(131, 121, 121);
$lighter-gray:rgb(229, 229, 229);


//pink colors
$primary-pink:rgb(217, 106, 119);



// random colors
$primary-yellow: rgb(192, 192, 19);
$red-color:rgb(246, 64, 63);


//padding//
$padding-small : 3rem;


