
.searchicon
{
    position: absolute;
    z-index: 30;
    top: 1.2rem;
    left: 19.7rem;  
}

.carticon
{
    position: absolute;
    z-index: 30;
    top: 1.5rem;
    left: 19.7rem;  
    float: right;
}