.new-product-card
{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 5rem;

    &:hover 

    {   
        transform: scale(1.2);
        .new-product-card__border
            {
            position: absolute;
            left: 2rem;
            top: 1.7rem;
            width: 88%;
            height: 78%;
            border: $white-color 0.1rem solid;
            }        
    }
    &__image
    {
        width: 100%;
        height: 100%;
    }

    &__title
    {
        width: 100%;
        position: absolute;
        font-family:'Montserrat', sans-serif; 
        top: 25rem;
        left: 7rem;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        font-size: 1.5rem;


    }

    &__btn
    {
        width: 100%;
        position: absolute;
        top: 28rem;
        left: 10rem;
        font-size: 1.3rem;
        a 
        {
            color: white;
            text-decoration: none;
            text-transform: lowercase;
        }

        &:hover 
        {
            a 
            {
                text-decoration: underline;
            }
        }
    }

}

.center {
    &:hover {
      color: red;
    }
  
    // Set up base styles, we're going to scale instead of animating width/height
    &::before,
    &::after {
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      transform-origin: center; // Ensure scaling is done from the center (expands outwards)
    }
  
    // scale3d(<scale-horizontal>, <scale-vertical>, <scale-depth>);
    &::before {
      border-top: 2px solid red;
      border-bottom: 2px solid red;
      transform: scale3d(0,1,1); // Shrink only width
    }
  
    &::after {
      border-left: 2px solid red;
      border-right: 2px solid red;
      transform: scale3d(1,0,1); // Shrink only height
    }
  
    &:hover::before,
    &:hover::after {
      transform: scale3d(1,1,1); // Show full-size
      transition: transform 0.5s;
    }
  }