.product-sale-card
{
    width: 26%;
    height: 53rem;
    display: flex;
    flex-direction: column;
    position: relative; 
    margin: auto; 
    margin-top: 5rem;
    top: 20rem;  
    &__image
    {
        width: 100%;
        height: 39%;
        transform: scale(1);
        opacity: 1;
        transition: all 1ms linear;
        object-fit: cover; 
    }
    .effect //second image
    { 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 65%;
        z-index: -2;
        
    }
    &:hover &__image
    {
        visibility: hidden;
    }
    &__image-container
    {
        border-bottom: 1px solid $lighter-gray;
    }

    &__body{
        width: 100%;
        height: 16rem;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid $lighter-gray;

    }

    &__title{
        
        font-size: 1.3rem;
        font-weight: 70rem;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        margin-top: 2rem;
        color: $primary-gray;

            &:hover, :link 
            {
            color: $primary-pink;
            }
    }

    &__price {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 2rem;
        align-items: baseline;
       
        &__left{
            width: 50%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: baseline;
            
                &__before{
                align-self: flex-end;
                color: $light-gray;
                font-size: 1.7rem;
                margin-right: 5rem;
                text-decoration: line-through $primary-pink;
                margin-left: 1rem;
                }    

                &__after{
                align-self: flex-start;
                color: $primary-pink;
                font-size: 2.2rem;
                font-weight: 70rem;
                margin-left: 4rem;
                }

        }

        &__right{
            width: 19%;
            padding: 0.5rem;
            background-color: $red-color;
            border: 3px solid $red-color;
            border-radius: 2rem 0 0 2rem;
            text-align: center;
            font-size: 1.5rem;
            line-height: 160%;
            color: $white-color;
            font-family: sans-serif;   
        }
    }

    &__rate{

        display: inline;
        margin-left: 3rem;
        padding-bottom: 2rem;
    }
 
    &__options
    {
        width: 100%;
        margin-top: 10;
        height: 3rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-decoration: none;
        color: $primary-gray;
        
        &>:last-child 
        {
        border-right: none; 
        border-color: transparent;
        background: linear-gradient(to bottom, $white-color 50%, $primary-pink 50% );
        background-size: 100% 200%; 
        background-origin: border-box;
        background-position: top;
        transition: all 0.3s ease-in-out;

            &:hover{
            background-color : $primary-pink;
            background-position: bottom;
            
            a {
                color:$white-color;
                text-decoration: none;
              }
            }
        }
 
        
        &__btn 
        {
            border-right: 1px solid $lighter-gray;
            display: flex;
            flex-direction: row;
            width: 33.33%;
            height: 3rem;
            padding-top: 2rem;
            font-size: 1.3rem;
            justify-content: space-evenly;
            text-decoration: none;

            
            a {
                text-decoration: none;
                color: $primary-gray;
            }

            &:hover 
            {             
                color: $white-color;
                a {
                   
                    color: $primary-pink;
                }
            }
    
        }
    }
}    


