input[name="text"] 
{        

    font-size: 1.5rem;
    color: $white-color;
    -webkit-input-placeholder: white;   
    right: 0.7rem;
    top: 0rem;
    background-color: $light-gray;
    height: 100%;
    width: 97%;
    border: none;
    position: absolute;
    
}