
video {
    width: 80%;
    height: auto;
    margin-top: 8rem;
}


// #myVideo {
//     position: absolute;
//     right: 14.6rem;
//     width: 80%;
//     height: 45rem;
//     margin-top: 15rem;
// }

// #myBtn {
//     width: 18rem;
//     font-size: 1.8rem;
//     padding: 1rem;
//     border: 0.1px solid #e5e5e5;
//     border-radius: 3rem;
//     background: #837979;
//     color: white;
//     cursor: pointer;
//     right: 60rem;
//     position: absolute;
//     margin-top: 55rem;

//     &:hover
//     {
//         background: $primary-pink;
//         color: $white-color;
//     }
// }

